// MINI INTRO
.first {
    overflow: hidden;

    .photo1{
        margin-left: -200px;
    }

    .photo2 {
        position: absolute;
        margin-left: 1100px;
        margin-top: -200px;
    } 
}

.section1 {
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    background-color: $color-principal;
    color: #FFFFFF;
    margin-top: -340px;
    margin-bottom: 4rem;

    h1 {
        margin-top: -445px; 
        @include titulos-principales;
        color: #FFFFFF;
    }

    p {
        @include parrafos; 
        text-align: justify;
        padding: 4rem;
    } 
}